.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #3852a4;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}
button.navbar-toggler:focus{
	outline: none;
}
.main-body{
	margin-top:48px;	
}
ul.navbar-nav a.nav-link:hover{
  color:orange!important;
}

ul.navbar-nav .nav-item.active>a.nav-link:hover{
  color:initial!important;
}
ul.navbar-nav .nav-item.active>a.nav-link {
    text-decoration: none;
    position: relative;
    display:inline-block;
}
ul.navbar-nav .nav-item.active>a.nav-link:after {
    content: '';
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 5px;    
    border-width: 0 0 1px;
    border-style: solid;
}

.gallery-carousel__intro{

	padding-bottom: 10px;
}
.gallery-carousel {
	margin-top: 0px;
	overflow: hidden;
	
}
.gallery-carousel .gallery-carousel__intro{
		
}

@media(min-width: 768px){
	.gallery-carousel {
		margin-top:25px;
		overflow: hidden;
	}
	.gallery-carousel .gallery-carousel__intro{
		
	}
	.navbar-nav {
	  display:table;
	}
	.navbar-nav >.nav-item{
	  display:table-cell;
	  text-align:center;
	  vertical-align:middle;
	}
	.payment-logo{
		max-width: 190px;
	}
}
@media(min-width: 992px){
	.payment-logo{
		max-width: 100%;
	}
}
@media(min-width: 1200px){
	.navbar-nav >.nav-item{
	  padding-right:20px;	  
	}
}