


/*Generic css*/

html, body {
  height: 100%;
  margin: 0;
}
main {
  min-height: 100%;
}

.footer__wrap {
  	height: 60px;
    margin-top: -60px;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}




.ariticle-body__wrap{
	padding:1rem .5rem;	
	margin-top: 25px;
    overflow: hidden;
}

.bottom-adjustment,
.property-listing,
.ariticle-body__wrap{
	padding-bottom: 100px;
}
.tab-content.ariticle-body__wrap{
	padding-top:0;
	padding-left: 0;
	padding-right:0;
	margin-top: 0;
}
.ariticle-body__wrap>.ariticle-body__wrap{
	padding:0px;
	margin:0px;
}

.ariticle-body__title{
	display: inline-block;
	padding-top:1rem;
	padding-bottom:.5rem;
}
.ariticle-body__title-border{
	border-bottom: 1px solid #dee2e6!important;
}

.article-body{
	padding-top:1rem;
}

/*Home page propery listing*/
.property-listing .home-listing__item{
	text-align: center;
	margin-top:15px;
	padding-left: 10px;
	padding-right: 10px;
}
.property-listing .home-listing__item-wrap{
		transition: .15s linear all;
}
.property-listing .home-listing__item-wrap:hover{
	-webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.4);
}
.property-listing .home-listing__images{
	width:100%;
}
.property-listing .home-listing__intro{
	border: 1px solid #cecece;
	padding-top: 20px;
	padding-bottom: 20px;
}


/*Navigation animation*/
.navbar{
	background-color: #eee;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #3852a4;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}
button.navbar-toggler:focus{
	outline: none;
}

ul.navbar-nav a.nav-link:hover{
  color:orange!important;
}

ul.navbar-nav .nav-item.active>a.nav-link:hover{
  color:initial!important;
}
ul.navbar-nav .nav-item.active>a.nav-link {
    text-decoration: none;
    position: relative;
    display:inline-block;
}
ul.navbar-nav .nav-item.active>a.nav-link:after {
    content: '';
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 5px;    
    border-width: 0 0 1px;
    border-style: solid;
}

@media(min-width: 1200px){
	.navbar-nav >.nav-item{
	  padding-right:20px;	  
	}
}

@media(max-width: 767px){

	.navbar-collapse {
		padding-bottom: 20px;    
	    padding-top: 10px;
	}
	.navbar-collapse>.navbar-nav {
    	padding-bottom: 20px;
	}
}
/*End of navigation customization*/

.main-body{
	margin-top:24px;	
}
.main-body__gallery-show{
	margin-top:0px;
}



/*property listing page*/
.property-list-tab__title{
	margin:25px 0;
}
.property-list-tab__wrap{
	padding:15px;
}
@media(min-width: 768px){
	.property-list-tab__wrap{
		padding:0px;
	}
}


.gallery-carousel__intro{

	padding-bottom: 10px;
}
.gallery-carousel {
	margin-top: 0px;
	overflow: hidden;
	
}
.gallery-carousel .gallery-carousel__intro{
		
}

@media(min-width: 768px){
	.gallery-carousel {
		margin-top:25px;
		overflow: hidden;
	}
	.gallery-carousel .gallery-carousel__intro{
		
	}
	.navbar-nav {
	  display:table;
	}
	.navbar-nav >.nav-item{
	  display:table-cell;
	  text-align:center;
	  vertical-align:middle;
	}
	.payment-logo{
		max-width: 190px;
	}
}
@media(min-width: 992px){
	.payment-logo{
		max-width: 100%;
	}
}


